body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI' sans-serif;
}
.phone-app {
    width: 100%;
    max-width: 450px;
    height: 100vh;
    background-color: #0b141a;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
}
.chat-header {
    background-color: #202c33;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 1px solid #333;
}
.profile-pic {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #00ff41, #0a8f00);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    margin-right: 15px;
}
.chat-area {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #0b141a;
    background-image: radial-gradient(#1f2c33 1px, transparent 1px);
    background-size: 20px 20px;
}    
.message {
   max-width: 75%;
   margin-bottom: 10px;
   padding: 8px 12px;
   border-radius: 10px;
   font-size: 0.95rem;
   color: #e9edef;
   position: relative;
   word-wrap: break-word;
}
.incoming {
    background-color: #202c33;
    align-self: flex-start;
    float: left;
    clear: both;
    border-top-left-radius: 0;
}
.outgoing {
    background-color: #005c4b;
    align-self: flex-end;
    float: right;
    clear: both;
    border-top-right-radius: 0;
}
.clear {clear: both;}
.key-text {
    font-family: 'Courier New', monospace;
    color: #00ff41;
    font-weight: bold;
    letter-spacing: 2px;
}
.input-area {
    background-color: #202c33;
    padding: 10px;
    display: flex;
}
.btn-generate {
    width: 100%;
    background-color: #00a884;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-generate:hover{
    background-color: #008f6f;
}
